%fullscreendiv {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 0 3em;
	background-position: 50% 50%;

	h1 {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		background: #444;
		color: #fff;
		padding: .4em;
		margin-top: 0;
	}

	p {
		background: #555;
		color: #eee;
		border-radius: .3em;
		padding: 1em 2em;
		margin: 0;
	}
}


%fb {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	top: 3em;

	.slidechange {
		z-index: 1000;
		position: fixed;
		padding: .6em 1em;

		background: #fff;
		font-size: 1.2em;
		font-weight: bold;
		text-transform: uppercase;
		width: 8em;
		text-align: center;

		box-shadow: 0 0 .1em 0 #555;
		border-radius: .1em;
	}

	.prev {
		left: 1em;
		bottom: 5em;
	}

	.next {
		bottom: 5em;
		right: 1em;
	}


	div {
		position: relative;
		width: 100%;
		height: 100%;
		padding-top: 0;

		div {
			@extend %fullscreendiv;
		}

	}


	&.distback {
		display: none;
	}
}

#frontend {
	@extend %fb;
}

#textcontainer  {
	@extend %fb;
	div {
		@extend %fullscreendiv;
	}
}

