$backgroundcolor: #FFF;
$themecolor: #54BE79;
$max-width: em(1600);
$inputsize: $column * 4;
$shadowcolor: shade($themecolor, 90%);
$defaultblue: #1FA0E5;
$defaultred: #E92416;
$defaultgreen: #42BD33;
$defaultgray: #828282;
$headingcolor: #636363;
$bordercolor: #27B6E2;
$defaultfont: 'Roboto Condensed', Sans-serif;
$headingfont: 'Roboto Condensed';

