@import 'bourbon/bourbon';
@import 'neat/neat';
@import '_variables';
@import '_common';
@import '_table';
@import '_form';
@import '_buttons';
@import "_notifications";
@import "_boxes";
@import "_nav";


body {
	font-family: $defaultfont, Robato, $helvetica;
	background: $backgroundcolor;
	padding: 0;
	margin: 0;

}

%fullscreendiv {
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 60em;
	padding: 1em 3em;

	h1 {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		background: #444;
		color: #fff;
		padding: .4em;
	}

	p {
		background: #555;
		color: #eee;
		padding: 2em;
		border-radius: .3em;
	}
}

%fb {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	top: 2.5em;

	.slidechange, {
		z-index: 1000;
		position: fixed;
		padding: .6em 1em;

		background: #fff;
		font-size: 1.2em;
		font-weight: bold;
		text-transform: uppercase;
		width: 8em;
		text-align: center;
	}

	.prev {
		left: 1em;
		bottom: 5em;
	}

	.next {
		bottom: 5em;
		right: 1em;
	}


	div {
		position: relative;
		width: 100%;
		height: 100%;

		div {
			@extend %fullscreendiv;
		}

	}


	&.distback {
		display: none;
	}
}

#frontend {
	@extend %fb;
}

#textcontainer  {
	@extend %fb;
	div {
		@extend %fullscreendiv;
	}
}

main {
	padding: 3em 1.2em .2em;
	@include outer-container;
}

a {
	text-decoration: none;
	color: $defaultblue;
	outline: none;
	&:hover {
		text-decoration: underline;
		color: shade($defaultblue, 40%);
	}
}

img {
	vertical-align: middle;
}

strong {
	font-size: .8em;
	font-weight: bold;
	color: shade($themecolor, 70%);
}

h1, h2, h3, h4, h5, h6, legend {
	color: $headingcolor;
	margin-bottom: .1em;
	font-family: $headingfont, $defaultfont;
}



header {
	font-weight: bold;
	color: #888;
	z-index: 100;
}


header#logo  {
	@include background(linear-gradient(shade(#555, 10%), #444), left repeat);
	padding: .3em .7em;
	font-size: .8em;
	box-shadow: 0 .1em .3em #555;
	position: fixed;
	width: 100%;

	h1 {
		padding: 0 .4em;
		margin: 0;
		@include span-columns(11);

		a {
			color: tint($defaultblue, 30%);
			&:hover{
				text-decoration: none;
			}
		}

		img {

			padding: .1em;
		}
	}
}

#container {
	opacity: 100;
	margin-bottom: 14em;

}

footer  {
	// @include sticky-footer(4em);
	$c: tint(#555, 90%);
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 5em;


	background: $c;
	box-shadow: 0 -0.1em 0.2em #ccc;
	padding: 1.2em 2em .4em 1em;
	text-align:  right;
	font-size: .9em;

	img {
		margin-left: 3em;
	}

	a {
		color: #888;
		padding: .3em;
		font-weight: bold;
		vertical-align: middle;
		text-transform: uppercase;
		margin-left: 1em;

	}
}

@include formstyle($defaultblue, 20);
@include datatable($defaultblue);

%textboxsize {
	@media (min-width: 481px){
		@include span-columns(6);
	}

	@media (max-width: 480px) {
		width: 100%;
	}
}

#searchbar {
	background: tint($defaultgreen, 80%);
	padding: .4em .5em;

	>span {

		&:first-child {
			@media (min-width: 481px){
				@include span-columns(6);
				input[type=text] {
					@include fill-parent();
				}
			}
		}

		&:nth-child(2){
			padding-top: .2em;
			@media (max-width: 590px) and (min-width: 481px){
				@include row;
			}

			@media (min-width: 480px){
				@include row;
			}

		}

		@media (max-width: 480px) {
			@include row;
			*{
				@include row;
				margin-bottom: .4em;
			}
		}

	}
}

.searchInfo {
	span {
		&:before { content: '"'; }
		&:after { content: '"'; }
	}
}


#selectionactions {
	display: none;
	background: tint($defaultblue, 90%);
	padding: .8em .5em;
	box-shadow: 0 0.2em 0 tint($defaultblue, 70%);

	border-radius: 0 0 .3em .3em;
}

#selected_user_sms {
	@include row;

	#selected_user_list {

		@include row;
		padding: 0;
		font-size: .9em;
		$color: #eee;
		max-height: 20%;
		overflow: auto;

		li {

			margin-bottom: .7em;

			list-style: none;

			background: tint($color, 85%);

			padding: .4em .6em;
			border-radius: 0 0 .3em .3em;
			box-shadow: 0 0.2em 0 #ddd;
			border: .1em solid #eee;
			border-bottom: none;


			header {
				margin: 0;
				font-size: .9em;
				padding: 0;
				color: shade($color, 40%);
			}

			p {
				margin: 0;
				font-size: .8em;
				color: shade($color, 50%);

			}

			@media (min-width: 801px){
				@include span-columns(2);
				@include omega(6n);
			}

			@media (max-width: 800px) and (min-width: 641px){
				@include span-columns(3);
				@include omega(4n);
			}

			@media (max-width: 640px) and (min-width: 481px) {
				@include span-columns(4);
				@include omega(3n);
			}

			@media (max-width: 480px) {
				@include span-columns(6);
				@include omega(2n);
			}
		}
	}

	#selected_sms_form {
		@include row;

		form>div:last-child {
			padding: .5em;
		}
	}
}


@import '_profilelist';
@import '_pagination';


#displayopts {
	@include span-columns(9);
	h1 {
		padding: 0 0 0 1.2em;
		margin-bottom: .6em;
		#gp_details {
			font-size: .6em;
			color: #666;
			background: #ccc;
			padding: .5em;
			box-shadow: 0 .1em 0 #888;
		}

		#gp_date {
			font-size: .6em;
			text-align: center;
			font-weight: normal;
			color: #999;
			text-transform: uppercase;
		}
	}
	height: 30em;
	.boxes {
		fill: #eee;
	}
}

#questionlist {
	@include span-columns(3);
	list-style: none;
	padding-top: .3em;


	li {
		margin: 0;
		margin-bottom: .6em;
		padding: .5em;
		font-size: .9em;
		box-shadow: 0 .1em .1em shade(#eee, 20%);
		border-radius: .2em;
		background: #fff;

		a {
			@include fill-parent();
			@include row;
			text-transform: uppercase;
			&:hover {
				text-decoration: none;
			}
		}

		&.active {
			background: tint($defaultblue, 30%);
			border-radius: .2em;
			a {
				color: tint($defaultblue, 90%);
			}
		}

	}
}


